{
  "swagger": "2.0",
  "info": {
    "description": "An API to build, play and teach bricks",
    "version": "1.0.0",
    "title": "Brillder",
    "termsOfService": "",
    "contact": {
      "email": "lindsaymacvean@scholar6.org"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "swagger.scholar6.org",
  "tags": [
    {
      "name": "brick",
      "description": "Bricks functionality"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/play/attempts": {
      "get": {
        "tags": [
          "play"
        ],
        "summary": "Get all attempts",
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/ArrayOfBrickAttempts"
            }
          }
        }
      }
    },
    "/play/attempt": {
      "post" : {
        "tags": [
          "play"
        ],
        "summary": "Create attempt",
        "responses" : {
          "200": {
            "description" : "ok"
          }
        }
      },
       "put" : {
        "tags": [
          "play"
        ],
        "summary": "Update attempt",
        "responses" : {
          "200": {
            "description" : "ok"
          }
        }
      }
    },
    "/bricks": {
      "get": {
        "tags": [
          "brick"
        ],
        "summary": "Get all bricks",
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/ArrayOfBricks"
            }
          }
        }
      }
    },
    "/bricks/currentUser": {
      "get": {
        "tags": [
          "brick"
        ],
        "summary": "Get all bricks of current user",
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/ArrayOfBricks"
            }
          }
        }
      }
    },
    "/brick/{id}": {
      "delete": {
        "tags": [
          "brick"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true
          }
        ],
        "summary": "Delete specific brick by id",
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "get": {
        "tags": [
          "brick"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true
          }
        ],
        "summary": "Get specific brick by id",
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/Brick"
            }
          }
        }
      }
    },
    "/brick": {
      "post": {
        "tags": [
          "brick"
        ],
        "summary": "Add a new brick",
        "description": "",
        "operationId": "addBrick",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Brick object that needs to be added",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Brick"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/Brick"
            }
          }
        },
        "security": [
          {
            "brillder_auth": [
              "write:bricks",
              "read:bricks"
            ]
          }
        ],
        "x-swagger-router-controller": "Brick"
      },
      "put": {
        "tags": [
          "brick"
        ],
        "summary": "Update an existing brick",
        "description": "",
        "operationId": "updateBrick",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Brick object that needs to be updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Brick"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/Brick"
            }
          }
        },
        "security": [
          {
            "brillder_auth": [
              "write:bricks",
              "read:bricks"
            ]
          }
        ],
        "x-swagger-router-controller": "Brick"
      }
    }
  },
  "securityDefinitions": {
    "brillder_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://example.com/oauth/authorize",
      "flow": "implicit",
      "scopes": {
        "write:bricks": "modify bricks in your account",
        "read:bricks": "read your bricks"
      }
    },
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    }
  },
  "definitions": {
    "ArrayOfBricks": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Brick"
      }
    },
    "ArrayOfBrickAttempts": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/BrickAttempt"
      }
    },
    "ArrayOfQuestions": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Question"
      }
    },
    "Question": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "order": {
          "type": "integer",
          "format": "int64"
        },
        "contentBlocks": {
          "type": "string"
        },
        "questionType": {
          "type": "string",
          "enum": [
            "None",
            "ShortAnswer",
            "ChooseOne",
            "ChooseSeveral",
            "VerticalShuffle",
            "HorizontalShuffle",
            "PairMatch",
            "Categorise",
            "MissingWord",
            "WordHighlighting",
            "LineHighlighting"
          ]
        }
      },
      "xml": {
        "name": "Question"
      }
    },
    "Brick": {
      "type": "object",
      "required": [
        "questions",
        "subTopic",
        "subject",
        "title",
        "type"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "brickLength": {
          "type": "string",
          "enum": [
            "0", 
            "20",
            "40",
            "60"
            ]
        },
        "type": {
          "type": "string",
          "enum": [
            "Main"
            ]
        },
        "subject": {
          "type": "string"
        },
        "locked": {
          "type": "boolean"
        },
        "alternativeSubject": {
          "type": "string"
        },
        "topic": {
          "type": "string"
        },
        "subTopic": {
          "type": "string"
        },
        "alternativeTopics": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "brief": {
          "type": "string"
        },
        "prep": {
          "type": "string"
        },
        "synthesis": {
          "type": "string"
        },
        "revisionLog": {
          "type": "string"
        },
        "openQuestion": {
          "type": "string"
        },
        "questions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Question"
          }
        }
      },
      "xml": {
        "name": "Brick"
      }
    },
    "ComponentAttempt" : {
      "type": "object",
      "properties": {
        "answer" : {
          "type": "object"
        },
        "correct": {
          "type": "boolean"
        },
        "marks": {
          "type": "number"
        },
        "maxMarks": {
          "type": "number"
        }
      }
    },
    "BrickAttempt": {
      "type": "object",
      "properties": {
        "brickId": {
          "type": "integer",
          "format": "int64"
        },
        "score": {
          "type": "integer",
          "format": "int64"
        },
        "oldScore": {
          "type": "integer",
          "format": "int64"
        },
       "maxScore": {
          "type": "integer",
          "format": "int64"
        },
       "studentId": {
          "type": "integer",
          "format": "int64"
        },
       "answers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ComponentAttempt"
          }
        },
      },
      "xml": {
        "name": "Question"
      }
    },
    "ApiResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Brillder",
    "url": "https://github.com/Scholar-6/brillder"
  }
}