---
swagger: "2.0"
info:
  description: "An API to build, play and teach bricks"
  version: "1.0.0"
  title: "Learning Fortress"
  termsOfService: ""
  contact:
    email: "lindsaymacvean@scholar6.org"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.scholar6.org"
basePath: "/v1"
tags:
- name: "brick"
  description: "Retrieve a brick"
schemes:
- "https"
paths:
  /brick:
    post:
      summary: "create a brick"
      description: ""
      operationId: "brickPOST"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successfully created a brick"
      x-swagger-router-controller: "Default"
  /bricks:
    get:
      summary: "get a list of all brick ids and titles"
      description: ""
      operationId: "bricksGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successfully get bricks"
      x-swagger-router-controller: "Default"
  /brick/:id:
    get:
      summary: "Retrieve a brick"
      description: ""
      operationId: "brickidGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "brick object"
      x-swagger-router-controller: "Default"
    put:
      summary: "Update a brick"
      description: ""
      operationId: "brickidPUT"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "brick object"
      x-swagger-router-controller: "Default"
    delete:
      summary: "delete a brick"
      description: ""
      operationId: "brickidDELETE"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "brick object"
      x-swagger-router-controller: "Default"
  /brick/:id/question/:id:
    post:
      summary: "create a new question"
      description: ""
      operationId: "questionIdPOST"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successfully created a question"
      x-swagger-router-controller: "Default"
    put:
      summary: "update a question"
      description: ""
      operationId: "questionIdPUT"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successfully updated a question"
      x-swagger-router-controller: "Default"
    delete:
      summary: "delete a question"
      description: ""
      operationId: "questionIdDELETE"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successfully deleted a brick"
      x-swagger-router-controller: "Default"
  /brickattempt/:id:
    get:
      summary: "Finds a brick attempt"
      description: ""
      operationId: "brickattemptidGET"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "Returned brickattempt"
      x-swagger-router-controller: "Default"
definitions: {}
externalDocs:
  description: "Find out more about Learning fortress"
  url: "https://github.com/scholar-6/learning-fortress-backend"
